/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.input-section, .output-section {
  flex: 1;
  padding: 20px;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #555;
}

input, select, button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ffcc00;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e6b800;
}

.output-section {
  background-color: #21215085;
  border-radius: 8px;
  padding: 20px;
}

#monthly-payment, #total-payment {
  font-size: 1.2em;
  color: #333;
}

span {
  font-weight: bold;
}
